/* Reset */

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* Materila Icons */

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v45/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: white;
}

.ma-resize {
  font-size: 120px;
}

/* Button Container */
.button-2, .button-3, .button-4 {

}

/* Button */
.toggleScreen-2, .toggleScreen-3, .toggleScreen-4 {
  width: 100%;
  background: none;
  border: none;
}

.button-wrap {
  /* border: 3px solid blue; */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.button-wrap-2 {
  display: flex;
  justify-content: center;
}

.button-wrap-3-4 {
  /* border: 3px solid blue; */
  padding-top: 30vh;
  display: flex;
  justify-content: space-between;
}

.screen-1 {
  background-color: teal;
  padding: 2%;
  width: 100vw;
  height: 100vh;
  /* Position Buttons */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-2 {
  background-color: blue;
  width: 100vw;
  height: 100vh;
  padding: 2%;
  position: fixed;
  top: -100vh;
  transition: 2s;
  /* Position Buttons */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-3 {
  background-color: green;
  width: 100vw;
  height: 100vh;
  padding: 2%;
  position: fixed;
  top: 0;
  left: -100vw;
  transition: 2s;
  /* Position Buttons */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-4 {
  background-color: yellow;
  width: 100vw;
  height: 100vh;
  padding: 2%;
  position: fixed;
  top: 0;
  left: 100vw;
  transition: 2s;
  /* Position Buttons */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-5 {

}
